# Avoid accidental Sketch file upload 
###############################################
## Please do not remove line 5 - thanks! 🙂 ##
###############################################
*.sketch

# Avoid accidental XD or Figma upload if you convert the design file
#######################################################
## Please do not remove lines 11 and 12 - thanks! 🙂 ##
#######################################################
*.xd
*.fig

# Avoid your project being littered with annoying .DS_Store files!
.DS_Store
.vs/FrontEnd._Project/v17/.wsuo
.vs/FrontEnd._Project/FileContentIndex/1c4c3b69-7bd4-448b-a77b-c416f80372e5.vsidx
