/* ===========general styling for the main  page============ */
body{
    width:100%;
    margin-left: 0%;
    color: hsl(200, 15%, 8%);
    background-color:  hsl(0, 0%, 98%);
}
/* ===============header styling================ */
.hearder{
    background-color:white;
    color:black;
}
.mytitle {
    font-weight: bold;
    font-size:1.75em;
    display:block;
    padding:15px;
    font-family:Bahnschrift;
    margin-bottom:10px;
}

/* ==================form styling================ */
form{
    margin:10px;
    display: grid;
    grid-template-columns: 50% 50%;
    
}

.search_input {
    width:350px;
    height:40px;
    font-size:15px;
    border:solid thick white;
    margin-left:35px ;
    color: hsl(0, 0%, 52%);
}

.filter{
    display: inline;
    margin-left: 400px;
}

#regions{
    background-color: white;
    color: hsl(0, 0%, 52%);
    width:140px;
    height:40px;
    border:solid thick white;
}
/* ================================================= */




section {
    background-color: whitesmoke;
    padding-top:10px;
    margin:0;
    width:100%;
}
.section {
    display: grid; 
    grid-template-columns: 25% 25% 25% 25%;
    /* grid-template-columns: repeat(auto-fit, minmax(400px, 1fr)); */
    gap: 6px;
    padding-top: 10px;
    /* margin:40px; */
    
}
/* ====================elements styling=================== */
.project{
    background-color: white;
    /* text-align: center; */
    height:330px; 
    padding: 0;
    margin:0 40px 10px 40px;
    border-radius: 8px;

}
.project h3{
    text-indent: 15px;
    font-weight: bolder;
    text-overflow: ellipsis;
    overflow: hidden;
    text-wrap: nowrap;
}

.project p{
    text-indent: 15px;
    margin: 0;;
}
.project img {
    width: 100%;
    height: 50%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
/* ====================================================== */