/* ===========general styling for the main  page============ */
body {
    width: 100%;
    margin: 0%;
    color: hsl(200, 15%, 8%);
    background-color: hsl(0, 0%, 98%);
    box-sizing: border-box;
    scroll-behavior: smooth;

}



/* ==================header styling===================== */
.header  {
    position: fixed;
    z-index: 999;
    background-color: white;
    color: black;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 0;

}

.mytitle {
    font-weight: bold;
    font-size: 24px;
    display: block;
    padding: 15px;
    font-family: Bahnschrift;
    margin-bottom: 10px;
    
}

.toggleBtn{
    margin-right: 30px;
    border-radius: 20px;
    background-color: white;
    border:none;
    font-size: 17px;
    transition: 0.7s ease;
}
.toggleBtn:hover{
    background-color: lightgray;
    transform: scale(1.1);
    cursor: pointer;
}



/* ==================form styling================ */
form {
    margin: 70px 10px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.search_input {
    background-color:white;
    width: 350px;
    height: 40px;
    font-size: 15px;
    border: solid thick white;
    margin-left: 35px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    transition: 0.7s ease;
    color: black;
}

.search_input:hover {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border: gray thin;
}

.filter {
    display: flex;
    align-items: center;
}

#regions:hover {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border: gray thin;
}

#regions {
    background-color: white;
    width: 140px;
    height: 40px;
    border: solid thick white;
    border-radius: 5px;
    transition: 0.7s ease;
}

/* ================================================= */




section {
    background-color: whitesmoke;
    padding-top: 10px;
    margin: 0;
    width: 100%;
}

.section {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    gap: 6px;
    padding-top: 10px;

}

/* ====================elements styling=================== */
.country {
    background-color: white;
    height: 330px;
    padding: 0;
    margin: 0 40px 20px 40px;
    border-radius: 8px;
    transition: 0.7s ease;

}

.country:hover {
    background-color: lightgray;
    transform: scale(1.1, 1.1);
    cursor: pointer;
}

.country h3 {
    text-indent: 15px;
    font-weight: bolder;
    text-overflow: ellipsis;
    overflow: hidden;
    text-wrap: nowrap;
}

.country p {
    text-indent: 15px;
    margin: 0;
}

.country img {
    width: 100%;
    height: 50%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

/* ======================================================== */
/* ======================================================== */
/* ====================new tab styling===================== */
/* ====================body styling======================== */
.newtabbody {
        width: 100%;
        margin: 0%;
        color: hsl(200, 15%, 8%);
        background-color: hsl(0, 0%, 98%);
        box-sizing: border-box;
        scroll-behavior: smooth;
}

/* ====================header styling======================== */

.newheader {
    position: fixed;
    z-index: 999;
    background-color: white;
    color: black;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 0;
}

/* ====================back button styling======================== */

.Backbtn {
    display: inline-block;
    margin: 80px 0px 10px 100px;
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 20px;
    font-size: 1.4em;
    background-color: white;
    text-decoration: none;
    border: solid lightgray thin;
    border-radius: 3px;
    color: black;
    padding: 4px 30px;
    transition: 0.7s ease;
}

.Backbtn:hover {
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); */
    background-color: lightgray;
    transform: scale(1.1);
    cursor: pointer
}


/* ====================main section styling======================== */

.content {
    margin-top: 0;
    display: grid;
    grid-template-columns:auto auto;
    
    align-items: flex-start;
    box-sizing: content-box;
    width: 100%;
    height: 100%;
}

.content div img {
    align-items: center;
    margin: 20px 100px 100px;
    width: 400px;
    height: 400px;
    border-radius: 6px;
}



/* ====================country name styling======================== */

.content div h1 {
    font-size: 1.8em;
    font-weight: bolder;
    text-transform: uppercase;
}

.content .info{
    display: block;
}

.content .flexData{
    display:flex;
    align-items: flex-start;
}

.content div .data{
    padding: 1.5px;
    margin: 0;
    font-size: 1.1em;
}

/* ====================border countries styling======================== */
.content .borders p {
    display: inline-block;
    box-sizing: content-box;
    padding: 2px;
    margin-left: 8px;
    background-color: white;
    border: solid lightgray thin;
    border-radius: 3px;
    margin-bottom: 0;
    margin-right: 4px;
    font-size: 1.2em;
    transition: 0.7s ease;
}

.content .borders p:hover {
    background-color: lightgray;
    transform: scale(1.1);
    cursor: pointer;
}




/* ====================media queries==================*/

@media (min-width:0){
    .mainsection{
        box-sizing: content-box;
    }
    .section{
    display: grid;
    grid-template-columns:100%;
    box-sizing: content-box;
    }
   
    .mytitle{
        font-size: 18px;
        text-overflow: ellipsis;
        overflow: unset;
        text-wrap: nowrap;
    }
    .toggleBtn{
        font-size: 14px;
        overflow: unset;
        text-wrap: nowrap;
    }

    .newheader {
        width: 100%;
        font-size: small;
    }
    .content{
        display: grid;
        grid-template-columns:auto;
        box-sizing: content-box;
    }
    .content .info{
        margin:0 20px 5px 110px;
        text-overflow: ellipsis;           
    }
}

@media (min-width:768px){
    .section{
        display: grid;
        grid-template-columns:50% 50%;
       
        }
        .mytitle{
            font-size: 20px;
        }
        
        .toggleBtn{
            font-size: 16px;
        }
        .content{
            display: grid;
            grid-template-columns:auto;
            box-sizing: content-box;
        }
        .content .info{
            margin:0 20px 5px 110px;
            text-overflow: ellipsis;           
        }
}

@media (min-width:1000px)and (max-width:1199px){
    .section{
        display: grid;
        grid-template-columns:30% 30% 30% ;
        
        }

        .mytitle{
            font-size: 24px;
        }
        
        .toggleBtn{
            font-size: 17px;
        }

        .content{
            display: grid;
            grid-template-columns:auto;
            box-sizing: content-box;
        }
        .content .info{
            margin:0 20px 5px 110px;
            text-overflow: ellipsis;           
        }
}


 @media (min-width:1200px){
.section{
    display: grid;
    grid-template-columns:25% 25% 25% 25%;
}

.content{
    display: grid;
    grid-template-columns:auto auto;
    box-sizing: content-box;
}
.content .info{
    margin:0 20px 5px;
    text-overflow: ellipsis;           
}
}




 /* ================darkmode=============== */


 .darkmode{
    background-color: hsl(207, 26%, 17%);
    color: hsl(0, 0%, 100%);
 }


 .darkmode .header{
    background-color: hsl(209, 23%, 22%);
    color: white;
 }
 /* .darkmode .header .mytitle{
    color: hsl(0, 0%, 100%);
 } */
 .darkmode .header .toggleBtn{
    color: hsl(0, 0%, 100%);
 }
 .darkmode .header .toggleBtn:hover{
    background-color: hsl(207, 26%, 17%);
    cursor: pointer;
 }
 .darkmode section{
    background-color: hsl(207, 26%, 17%);
 }
 
 .darkmode .toggleBtn{
    background-color: hsl(209, 23%, 22%);
 }
 .darkmode .search_input{
    background-color: hsl(209, 23%, 22%);
    color:white;
    border: solid thick hsl(209, 23%, 22%);
 }

 .darkmode .search_input:hover{
    box-shadow: 0 2px 4px rgba(2, 19, 56, 0.2);
    border: rgb(2, 13, 44) thin;
 }
 .darkmode #regions{
    background-color: hsl(209, 23%, 22%);  
    color:white;
    border: solid thick hsl(209, 23%, 22%);
 }

 .darkmode #regions:hover {
    box-shadow: 0 2px 4px rgba(2, 19, 56, 0.2);
    border: rgb(2, 13, 44) thin;
}

.darkmode .country{
    background-color: hsl(209, 23%, 22%);
}
/* ==================================== */

.darkmode .newheader{
    background-color: hsl(209, 23%, 22%);
    color: white;
}
.darkmode .newheader .toggleBtn{
    color: hsl(0, 0%, 100%);
 }

.darkmode .Backbtn{
    background-color:hsl(209, 23%, 22%) ;
    color: white;
}

.darkmode .content .borders p{
    background-color:hsl(209, 23%, 22%) ;
}


.darkmode .content .borders p:hover {
    background-color: hsl(207, 26%, 17%);
    transform: scale(1.1, 1.1);
    cursor: pointer;
}

